{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}
{% block pagecontent %}

<div class="jumbotron">
	<div class="container">
		<h1>Choose the kind of information you are looking for:</h1>

		<div>
			Simply click on the link below to enter wanted information. </br>
			</br>
			<a href="QT1">Find matchups associated with a team</a> </br>
			</br>
			<a href="QT2">Show players on a specific team or not on a team</a> </br>
			</br>
			<a href="QT3">Add or remove a player from a team</a> </br>
			</br>
			<a href="QT4">Get team name of teams who have won a home game</a> </br>
			
		</div>

	</div>
</div>
{% endblock %}