{% extends 'base.html' %}

{% block pagecontent %}
	<div class="jumbotron page-title">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1>All Players:</h1>

					<div>
						<table rule-style=SOLID border=SOLID>

							<tr>
								<th> Player ID</th>
								<th> Player Name</th>
								<th> Position</th>
								<th> Starter</th>
								<th> Current Points</th>
								<th> NFL Team</th>
								<th> League Team</th>
							</tr>

							{% for player in result %}
								<tr>
									<td>{{player.0}}</td>
									<td>{{player.1}}</td>
									<td>{{player.2}}</td>
									<td>{{player.3}}</td>
									<td>{{player.4}}</td>
									<td>{{player.5}}</td>
									<td>{{player.6}}</td>
								</tr>
							{% empty %}
								<tr>
									<td>No</td>
									<td>Players</td>
									<td>Are</td>
									<td>In</td>
									<td>Our</td>
									<td>Entire</td>
									<td>Database</td>
								</tr>

							{% endfor %}

						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
<br>
{% endblock %}
