{% extends 'base.html' %}

{% block pagecontent %}
	<div class="jumbotron page-title">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1>Players on the Team:</h1>

					<div>

						<table rule-style=SOLID border=SOLID>
						
							<tr>
								<th> Player ID</th>
								<th> Player Name</th>
								<th> Position</th>
								<th> Starter</th>
								<th> Current Points</th>
								<th> NFL Team</th>
								<th> League Team</th>
							</tr>
							
							{% for player in result %}
								<tr>
									<td>{{player.0}}</td>
									<td>{{player.1}}</td>
									<td>{{player.2}}</td>
									<td>{{player.3}}</td>
									<td>{{player.4}}</td>
									<td>{{player.5}}</td>
									<td>{{player.6}}</td>
								</tr>
							{% empty %}
								<tr>
									<td>Player</td>
									<td>List</td>
									<td>For</td>
									<td>This</td>
									<td>Team</td>
									<td>Is</td>
									<td>Empty</td>
								</tr>
							
							{% endfor %}
							
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
<br>
{% endblock %}
