{% extends 'base.html' %}

{% block pagecontent %}
	<div class="jumbotron page-title">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1>Find All Matchups of a Team:</h1>

					<div>

						<form method="post" action="{% url 'SearchMatchupFromTeam' %}">
						    {% csrf_token %}
						    {{ form }}
						    <input type="submit" value="Submit">
						</form>

					</br>
						<a href="{% url 'ListAllMatchups' %}" class='btn btn-primary'>Show all matchups</a>

					</div>
				</div>
			</div>
		</div>
	</div>
<br>
{% endblock %}
